<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
/**
BBedit Language Module for MEL Scripts
Copyright (C) 2011  Skye Book

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>Mel Script</string>
	<key>BBLMLanguageCode</key>
	<string>MMEL</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<!-- Maya MEL Commands -->
		
		<!-- Maya Attribute Types -->
		<string>AISEnvFacade</string>
		<string>ComputeGlobal</string>
		<string>ComputeLocal</string>
		<string>addDoubleLinHIKCharacterNodeear</string>
		<string>addMatrixHIKControlSetNode</string>
		<string>adskMaterialHIKEffector2State</string>
		<string>aimConstrainHIKEffectorFromCharactert</string>
		<string>airFieldHIKFK2State</string>
		<string>airManipHIKPinning2State</string>
		<string>alignCurveHIKProperty2State</string>
		<string>alignManipHIKRetargeterNode</string>
		<string>alignSurfaceHIKSK2State</string>
		<string>ambientLightHIKSkeletonGeneratorNode</string>
		<string>angleBetweenHIKSolverNode</string>
		<string>angleDimensiHIKState2Effectoron</string>
		<string>animBlendHIKState2FK</string>
		<string>animBlendInOHIKState2SKut</string>
		<string>animBlendNodeAdditive</string>
		<string>animBlendNodeAdditiveDA</string>
		<string>animBlendNodeAdditiveDL</string>
		<string>animBlendNodeAdditiveF</string>
		<string>animBlendNodeAdditiveFA</string>
		<string>animBlendNodeAdditiveFL</string>
		<string>animBlendNodeAdditiveI16</string>
		<string>animBlendNodeAdditiveI32</string>
		<string>animBlendNodeAdditiveRotation</string>
		<string>animBlendNodeAdditiveScale</string>
		<string>animBlendNodeBoolean</string>
		<string>animBlendNodeEnum</string>
		<string>animClip</string>
		<string>animCurveTA</string>
		<string>animCurveTL</string>
		<string>animCurveTT</string>
		<string>animCurveTU</string>
		<string>animCurveUA</string>
		<string>animCurveUL</string>
		<string>animCurveUT</string>
		<string>animCurveUU</string>
		<string>animLayer</string>
		<string>anisotropic</string>
		<string>annotationShape</string>
		<string>arcLengthDimension</string>
		<string>areaLight</string>
		<string>arrayMapper</string>
		<string>arrowManip</string>
		<string>attachCurve</string>
		<string>attachSurface</string>
		<string>attrHierarchyTest</string>
		<string>audio</string>
		<string>avgCurves</string>
		<string>avgCurvesManip</string>
		<string>avgNurbsSurfacePoints</string>
		<string>avgSurfacePoints</string>
		<string>axesActionManip</string>
		<string>ballProjManip</string>
		<string>barnDoorManip</string>
		<string>baseLattice</string>
		<string>bevel</string>
		<string>bevelManip</string>
		<string>bevelPlus</string>
		<string>bezierCurve</string>
		<string>bezierCurveToNurbs</string>
		<string>blendColorSets</string>
		<string>blendColors</string>
		<string>blendDevice</string>
		<string>blendManip</string>
		<string>blendShape</string>
		<string>blendTwoAttr</string>
		<string>blendWeighted</string>
		<string>blindDataTemplate</string>
		<string>blinn</string>
		<string>boneLattice</string>
		<string>boolean</string>
		<string>boundary</string>
		<string>brownian</string>
		<string>brush</string>
		<string>bulge</string>
		<string>bump2d</string>
		<string>bump3d</string>
		<string>buttonManip</string>
		<string>cMuscleCreator</string>
		<string>cMuscleDebug</string>
		<string>cMuscleDirection</string>
		<string>cMuscleDisplace</string>
		<string>cMuscleDisplay</string>
		<string>cMuscleFalloff</string>
		<string>cMuscleKeepOut</string>
		<string>cMuscleMultiCollide</string>
		<string>cMuscleObject</string>
		<string>cMuscleRelative</string>
		<string>cMuscleShader</string>
		<string>cMuscleSmartCollide</string>
		<string>cMuscleSmartConstraint</string>
		<string>cMuscleSpline</string>
		<string>cMuscleSplineDeformer</string>
		<string>cMuscleStretch</string>
		<string>cMuscleSurfAttach</string>
		<string>cMuscleSystem</string>
		<string>cacheBlend</string>
		<string>cacheFile</string>
		<string>camera</string>
		<string>cameraManip</string>
		<string>cameraPlaneManip</string>
		<string>cameraSet</string>
		<string>cameraView</string>
		<string>centerManip</string>
		<string>character</string>
		<string>characterMap</string>
		<string>characterOffset</string>
		<string>checker</string>
		<string>choice</string>
		<string>chooser</string>
		<string>circleManip</string>
		<string>circleSweepManip</string>
		<string>clamp</string>
		<string>clipLibrary</string>
		<string>clipScheduler</string>
		<string>closeCurve</string>
		<string>closeSurface</string>
		<string>closestPointOnMesh</string>
		<string>closestPointOnSurface</string>
		<string>cloth</string>
		<string>cloud</string>
		<string>cluster</string>
		<string>clusterFlexorShape</string>
		<string>clusterHandle</string>
		<string>coiManip</string>
		<string>collisionModel</string>
		<string>colorProfile</string>
		<string>componentManip</string>
		<string>concentricProjManip</string>
		<string>condition</string>
		<string>container</string>
		<string>containerBase</string>
		<string>contrast</string>
		<string>copyColorSet</string>
		<string>copyUVSet</string>
		<string>cpManip</string>
		<string>crater</string>
		<string>createBPManip</string>
		<string>createCVManip</string>
		<string>createColorSet</string>
		<string>createEPManip</string>
		<string>createUVSet</string>
		<string>cubeManip</string>
		<string>cubicProjManip</string>
		<string>curveEdManip</string>
		<string>curveFromMeshCoM</string>
		<string>curveFromMeshEdge</string>
		<string>curveFromSubdivEdge</string>
		<string>curveFromSubdivFace</string>
		<string>curveFromSurfaceBnd</string>
		<string>curveFromSurfaceCoS</string>
		<string>curveFromSurfaceIso</string>
		<string>curveInfo</string>
		<string>curveIntersect</string>
		<string>curveNormalizerAngle</string>
		<string>curveNormalizerLinear</string>
		<string>curveSegmentManip</string>
		<string>curveVarGroup</string>
		<string>cylindricalProjManip</string>
		<string>dagContainer</string>
		<string>dagPose</string>
		<string>decomposeMatrix</string>
		<string>defaultLightList</string>
		<string>defaultRenderUtilityList</string>
		<string>defaultShaderList</string>
		<string>defaultTextureList</string>
		<string>deformBend</string>
		<string>deformBendManip</string>
		<string>deformFlare</string>
		<string>deformFlareManip</string>
		<string>deformSine</string>
		<string>deformSineManip</string>
		<string>deformSquash</string>
		<string>deformSquashManip</string>
		<string>deformTwist</string>
		<string>deformTwistManip</string>
		<string>deformWave</string>
		<string>deformWaveManip</string>
		<string>deleteColorSet</string>
		<string>deleteComponent</string>
		<string>deleteUVSet</string>
		<string>detachCurve</string>
		<string>detachSurface</string>
		<string>directedDisc</string>
		<string>directionManip</string>
		<string>directionalLight</string>
		<string>discManip</string>
		<string>diskCache</string>
		<string>displacementShader</string>
		<string>displayLayer</string>
		<string>displayLayerManager</string>
		<string>distanceBetween</string>
		<string>distanceDimShape</string>
		<string>distanceManip</string>
		<string>dof</string>
		<string>dofManip</string>
		<string>doubleShadingSwitch</string>
		<string>dpBirailSrf</string>
		<string>dragField</string>
		<string>dropoffLocator</string>
		<string>dropoffManip</string>
		<string>dynAttenuationManip</string>
		<string>dynController</string>
		<string>dynGlobals</string>
		<string>dynHolder</string>
		<string>dynSpreadManip</string>
		<string>dynamicConstraint</string>
		<string>effectorLocator</string>
		<string>effectorLocatorManip</string>
		<string>effectorRotationManip</string>
		<string>emitterManip</string>
		<string>enableManip</string>
		<string>envBall</string>
		<string>envChrome</string>
		<string>envCube</string>
		<string>envFacade</string>
		<string>envFog</string>
		<string>envSky</string>
		<string>envSphere</string>
		<string>environmentFog</string>
		<string>explodeNurbsShell</string>
		<string>expression</string>
		<string>extendCurve</string>
		<string>extendCurveDistanceManip</string>
		<string>extendSurface</string>
		<string>extendSurfaceDistanceManip</string>
		<string>extrude</string>
		<string>extrudeManip</string>
		<string>facade</string>
		<string>ffBlendSrf</string>
		<string>ffBlendSrfObsolete</string>
		<string>ffFilletSrf</string>
		<string>ffd</string>
		<string>fieldManip</string>
		<string>fieldsManip</string>
		<string>file</string>
		<string>filletCurve</string>
		<string>filterClosestSample</string>
		<string>filterEuler</string>
		<string>filterResample</string>
		<string>filterSimplify</string>
		<string>fitBspline</string>
		<string>flexorShape</string>
		<string>flow</string>
		<string>fluidEmitter</string>
		<string>fluidShape</string>
		<string>fluidSliceManip</string>
		<string>fluidTexture2D</string>
		<string>fluidTexture3D</string>
		<string>follicle</string>
		<string>forceUpdateManip</string>
		<string>fourByFourMatrix</string>
		<string>fractal</string>
		<string>frameCache</string>
		<string>freePointManip</string>
		<string>freePointTriadManip</string>
		<string>gammaCorrect</string>
		<string>geoConnectable</string>
		<string>geoConnector</string>
		<string>geometryConstraint</string>
		<string>geometryFilter</string>
		<string>geometryOnLineManip</string>
		<string>geometryVarGroup</string>
		<string>ghostLocator</string>
		<string>globalCacheControl</string>
		<string>globalStitch</string>
		<string>granite</string>
		<string>gravityField</string>
		<string>grid</string>
		<string>groupId</string>
		<string>groupParts</string>
		<string>guide</string>
		<string>hairConstraint</string>
		<string>hairSystem</string>
		<string>hairTubeShader</string>
		<string>hardenPoint</string>
		<string>hardwareRenderGlobals</string>
		<string>heightField</string>
		<string>hikEffector</string>
		<string>hikFloorContactMarker</string>
		<string>hikGroundPlane</string>
		<string>hikHandle</string>
		<string>hikSolver</string>
		<string>historySwitch</string>
		<string>holdMatrix</string>
		<string>hsvToRgb</string>
		<string>hwReflectionMap</string>
		<string>hwRenderGlobals</string>
		<string>hyperGraphInfo</string>
		<string>hyperLayout</string>
		<string>hyperView</string>
		<string>ik2Bsolver</string>
		<string>ikEffector</string>
		<string>ikHandle</string>
		<string>ikMCsolver</string>
		<string>ikPASolver</string>
		<string>ikRPManip</string>
		<string>ikRPsolver</string>
		<string>ikSCsolver</string>
		<string>ikSplineManip</string>
		<string>ikSplineSolver</string>
		<string>ikSpringSolver</string>
		<string>ikSystem</string>
		<string>imagePlane</string>
		<string>implicitBox</string>
		<string>implicitCone</string>
		<string>implicitSphere</string>
		<string>indexManip</string>
		<string>insertKnotCurve</string>
		<string>insertKnotSurface</string>
		<string>instancer</string>
		<string>intersectSurface</string>
		<string>isoparmManip</string>
		<string>jiggle</string>
		<string>joint</string>
		<string>jointCluster</string>
		<string>jointClusterManip</string>
		<string>jointFfd</string>
		<string>jointLattice</string>
		<string>jointTranslateManip</string>
		<string>keyframeRegionManip</string>
		<string>lambert</string>
		<string>lattice</string>
		<string>layeredShader</string>
		<string>layeredTexture</string>
		<string>leastSquaresModifier</string>
		<string>leather</string>
		<string>lightFog</string>
		<string>lightInfo</string>
		<string>lightLinker</string>
		<string>lightList</string>
		<string>lightManip</string>
		<string>limitManip</string>
		<string>lineManip</string>
		<string>lineModifier</string>
		<string>locator</string>
		<string>lodGroup</string>
		<string>lodThresholds</string>
		<string>loft</string>
		<string>lookAt</string>
		<string>luminance</string>
		<string>makeGroup</string>
		<string>makeIllustratorCurves</string>
		<string>makeNurbCircle</string>
		<string>makeNurbCone</string>
		<string>makeNurbCube</string>
		<string>makeNurbCylinder</string>
		<string>makeNurbPlane</string>
		<string>makeNurbSphere</string>
		<string>makeNurbTorus</string>
		<string>makeNurbsSquare</string>
		<string>makeTextCurves</string>
		<string>makeThreePointCircularArc</string>
		<string>makeThreePointCircularArcManip</string>
		<string>makeTwoPointCircularArc</string>
		<string>makeTwoPointCircularArcManip</string>
		<string>manip2DContainer</string>
		<string>manipContainer</string>
		<string>marble</string>
		<string>markerManip</string>
		<string>materialFacade</string>
		<string>materialInfo</string>
		<string>membrane</string>
		<string>mentalrayTexture</string>
		<string>mesh</string>
		<string>meshVarGroup</string>
		<string>motionPath</string>
		<string>motionPathManip</string>
		<string>mountain</string>
		<string>moveBezierHandleManip</string>
		<string>moveVertexManip</string>
		<string>movie</string>
		<string>mpBirailSrf</string>
		<string>multDoubleLinear</string>
		<string>multMatrix</string>
		<string>multilisterLight</string>
		<string>multiplyDivide</string>
		<string>mute</string>
		<string>nCloth</string>
		<string>nComponent</string>
		<string>nParticle</string>
		<string>nRigid</string>
		<string>nearestPointOnCurve</string>
		<string>network</string>
		<string>newtonField</string>
		<string>newtonManip</string>
		<string>noise</string>
		<string>nonLinear</string>
		<string>normalConstraint</string>
		<string>nucleus</string>
		<string>nurbsCurve</string>
		<string>nurbsCurveToBezier</string>
		<string>nurbsSurface</string>
		<string>nurbsTessellate</string>
		<string>nurbsToSubdiv</string>
		<string>nurbsToSubdivProc</string>
		<string>objectAttrFilter</string>
		<string>objectBinFilter</string>
		<string>objectFilter</string>
		<string>objectMultiFilter</string>
		<string>objectNameFilter</string>
		<string>objectRenderFilter</string>
		<string>objectScriptFilter</string>
		<string>objectSet</string>
		<string>objectTypeFilter</string>
		<string>ocean</string>
		<string>oceanShader</string>
		<string>offsetCos</string>
		<string>offsetCosManip</string>
		<string>offsetCurve</string>
		<string>offsetCurveManip</string>
		<string>offsetSurface</string>
		<string>offsetSurfaceManip</string>
		<string>oldBlindDataBase</string>
		<string>oldGeometryConstraint</string>
		<string>oldNormalConstraint</string>
		<string>oldTangentConstraint</string>
		<string>opticalFX</string>
		<string>orientConstraint</string>
		<string>orientationMarker</string>
		<string>pairBlend</string>
		<string>paramDimension</string>
		<string>parentConstraint</string>
		<string>particle</string>
		<string>particleAgeMapper</string>
		<string>particleCloud</string>
		<string>particleColorMapper</string>
		<string>particleIncandMapper</string>
		<string>particleSamplerInfo</string>
		<string>particleTranspMapper</string>
		<string>partition</string>
		<string>passContributionMap</string>
		<string>passMatrix</string>
		<string>pfxHair</string>
		<string>pfxToon</string>
		<string>phong</string>
		<string>phongE</string>
		<string>pivot2dManip</string>
		<string>pivotAndOrientManip</string>
		<string>place2dTexture</string>
		<string>place3dTexture</string>
		<string>planarProjManip</string>
		<string>planarTrimSurface</string>
		<string>plusMinusAverage</string>
		<string>pointConstraint</string>
		<string>pointEmitter</string>
		<string>pointLight</string>
		<string>pointMatrixMult</string>
		<string>pointOnCurveInfo</string>
		<string>pointOnCurveManip</string>
		<string>pointOnLineManip</string>
		<string>pointOnPolyConstraint</string>
		<string>pointOnSurfManip</string>
		<string>pointOnSurfaceInfo</string>
		<string>pointOnSurfaceManip</string>
		<string>poleVectorConstraint</string>
		<string>polyAppend</string>
		<string>polyAppendVertex</string>
		<string>polyAutoProj</string>
		<string>polyAutoProjManip</string>
		<string>polyAverageVertex</string>
		<string>polyBevel</string>
		<string>polyBlindData</string>
		<string>polyBoolOp</string>
		<string>polyBridgeEdge</string>
		<string>polyChipOff</string>
		<string>polyCloseBorder</string>
		<string>polyCollapseEdge</string>
		<string>polyCollapseF</string>
		<string>polyColorDel</string>
		<string>polyColorMod</string>
		<string>polyColorPerVertex</string>
		<string>polyCone</string>
		<string>polyConnectComponents</string>
		<string>polyCopyUV</string>
		<string>polyCrease</string>
		<string>polyCreaseEdge</string>
		<string>polyCreateFace</string>
		<string>polyCreateToolManip</string>
		<string>polyCube</string>
		<string>polyCut</string>
		<string>polyCutManip</string>
		<string>polyCutManipContainer</string>
		<string>polyCylProj</string>
		<string>polyCylinder</string>
		<string>polyDelEdge</string>
		<string>polyDelFacet</string>
		<string>polyDelVertex</string>
		<string>polyDuplicateEdge</string>
		<string>polyEdgeToCurve</string>
		<string>polyExtrudeEdge</string>
		<string>polyExtrudeFace</string>
		<string>polyExtrudeVertex</string>
		<string>polyFlipEdge</string>
		<string>polyFlipUV</string>
		<string>polyHelix</string>
		<string>polyHoleFace</string>
		<string>polyLayoutUV</string>
		<string>polyMapCut</string>
		<string>polyMapDel</string>
		<string>polyMapSew</string>
		<string>polyMapSewMove</string>
		<string>polyMappingManip</string>
		<string>polyMergeEdge</string>
		<string>polyMergeFace</string>
		<string>polyMergeUV</string>
		<string>polyMergeVert</string>
		<string>polyMergeVertsManip</string>
		<string>polyMirror</string>
		<string>polyModifierManip</string>
		<string>polyMoveEdge</string>
		<string>polyMoveFace</string>
		<string>polyMoveFacetUV</string>
		<string>polyMoveUV</string>
		<string>polyMoveUVManip</string>
		<string>polyMoveVertex</string>
		<string>polyMoveVertexManip</string>
		<string>polyNormal</string>
		<string>polyNormalPerVertex</string>
		<string>polyNormalizeUV</string>
		<string>polyOptUvs</string>
		<string>polyPipe</string>
		<string>polyPlanarProj</string>
		<string>polyPlane</string>
		<string>polyPlatonicSolid</string>
		<string>polyPoke</string>
		<string>polyPokeManip</string>
		<string>polyPrimitiveMisc</string>
		<string>polyPrism</string>
		<string>polyProj</string>
		<string>polyProjManip</string>
		<string>polyPyramid</string>
		<string>polyQuad</string>
		<string>polyReduce</string>
		<string>polySelectEditFeedbackManip</string>
		<string>polySeparate</string>
		<string>polySewEdge</string>
		<string>polySmooth</string>
		<string>polySmoothFace</string>
		<string>polySmoothProxy</string>
		<string>polySoftEdge</string>
		<string>polySphProj</string>
		<string>polySphere</string>
		<string>polySpinEdge</string>
		<string>polySplit</string>
		<string>polySplitEdge</string>
		<string>polySplitRing</string>
		<string>polySplitToolManip1</string>
		<string>polySplitVert</string>
		<string>polyStraightenUVBorder</string>
		<string>polySubdEdge</string>
		<string>polySubdFace</string>
		<string>polyToSubdiv</string>
		<string>polyToolFeedbackManip</string>
		<string>polyToolFeedbackShape</string>
		<string>polyTorus</string>
		<string>polyTransfer</string>
		<string>polyTriangulate</string>
		<string>polyTweak</string>
		<string>polyTweakUV</string>
		<string>polyUVRectangle</string>
		<string>polyUnite</string>
		<string>polyVertexNormalManip</string>
		<string>polyWedgeFace</string>
		<string>positionMarker</string>
		<string>postProcessList</string>
		<string>precompExport</string>
		<string>projectCurve</string>
		<string>projectTangent</string>
		<string>projectTangentManip</string>
		<string>projection</string>
		<string>projectionManip</string>
		<string>projectionMultiManip</string>
		<string>projectionUVManip</string>
		<string>propModManip</string>
		<string>propMoveTriadManip</string>
		<string>proxyManager</string>
		<string>psdFileTex</string>
		<string>quadPtOnLineManip</string>
		<string>quadShadingSwitch</string>
		<string>radialField</string>
		<string>ramp</string>
		<string>rampShader</string>
		<string>rbfSrf</string>
		<string>rbfSrfManip</string>
		<string>rebuildCurve</string>
		<string>rebuildSurface</string>
		<string>record</string>
		<string>reference</string>
		<string>remapColor</string>
		<string>remapHsv</string>
		<string>remapValue</string>
		<string>renderBox</string>
		<string>renderCone</string>
		<string>renderGlobals</string>
		<string>renderGlobalsList</string>
		<string>renderLayer</string>
		<string>renderLayerManager</string>
		<string>renderPass</string>
		<string>renderPassSet</string>
		<string>renderQuality</string>
		<string>renderRect</string>
		<string>renderSphere</string>
		<string>resolution</string>
		<string>resultCurveTimeToAngular</string>
		<string>resultCurveTimeToLinear</string>
		<string>resultCurveTimeToTime</string>
		<string>resultCurveTimeToUnitless</string>
		<string>reverse</string>
		<string>reverseCurve</string>
		<string>reverseCurveManip</string>
		<string>reverseSurface</string>
		<string>reverseSurfaceManip</string>
		<string>revolve</string>
		<string>revolveManip</string>
		<string>revolvedPrimitiveManip</string>
		<string>rgbToHsv</string>
		<string>rigidBody</string>
		<string>rigidConstraint</string>
		<string>rigidSolver</string>
		<string>rock</string>
		<string>rotateHelper</string>
		<string>rotateLimitsManip</string>
		<string>rotateManip</string>
		<string>vrotateUV2dManip</string>
		<string>roundConstantRadius</string>
		<string>roundConstantRadiusManip</string>
		<string>roundRadiusCrvManip</string>
		<string>roundRadiusManip</string>
		<string>sampler</string>
		<string>samplerInfo</string>
		<string>scaleConstraint</string>
		<string>scaleLimitsManip</string>
		<string>scaleManip</string>
		<string>scaleUV2dManip</string>
		<string>screenAlignedCircleManip</string>
		<string>script</string>
		<string>scriptManip</string>
		<string>sculpt</string>
		<string>selectionListOperator</string>
		<string>sequenceManager</string>
		<string>sequencer</string>
		<string>setRange</string>
		<string>shaderGlow</string>
		<string>shadingEngine</string>
		<string>shadingMap</string>
		<string>shellTessellate</string>
		<string>shot</string>
		<string>simpleVolumeShader</string>
		<string>singleShadingSwitch</string>
		<string>sketchPlane</string>
		<string>skinBinding</string>
		<string>skinCluster</string>
		<string>smear</string>
		<string>smoothCurve</string>
		<string>smoothTangentSrf</string>
		<string>snapshot</string>
		<string>snapshotShape</string>
		<string>snow</string>
		<string>softMod</string>
		<string>softModHandle</string>
		<string>softModManip</string>
		<string>solidFractal</string>
		<string>spBirailSrf</string>
		<string>sphericalProjManip</string>
		<string>spotCylinderManip</string>
		<string>spotLight</string>
		<string>spotManip</string>
		<string>spring</string>
		<string>squareSrf</string>
		<string>squareSrfManip</string>
		<string>stencil</string>
		<string>stereoRigCamera</string>
		<string>stitchAsNurbsShell</string>
		<string>stitchSrf</string>
		<string>stitchSrfManip</string>
		<string>stroke</string>
		<string>strokeGlobals</string>
		<string>stucco</string>
		<string>studioClearCoat</string>
		<string>styleCurve</string>
		<string>subCurve</string>
		<string>subSurface</string>
		<string>subdAddTopology</string>
		<string>subdAutoProj</string>
		<string>subdBlindData</string>
		<string>subdCleanTopology</string>
		<string>subdHierBlind</string>
		<string>subdLayoutUV</string>
		<string>subdMapCut</string>
		<string>subdMapSewMove</string>
		<string>subdMappingManip</string>
		<string>subdPlanarProj</string>
		<string>subdProjManip</string>
		<string>subdTweak</string>
		<string>subdTweakUV</string>
		<string>subdiv</string>
		<string>subdivCollapse</string>
		<string>subdivComponentId</string>
		<string>subdivReverseFaces</string>
		<string>subdivSurfaceVarGroup</string>
		<string>subdivToNurbs</string>
		<string>subdivToPoly</string>
		<string>surfaceEdManip</string>
		<string>surfaceInfo</string>
		<string>surfaceLuminance</string>
		<string>surfaceShader</string>
		<string>surfaceVarGroup</string>
		<string>tangentConstraint</string>
		<string>texLattice</string>
		<string>texLatticeDeformManip</string>
		<string>texMoveShellManip</string>
		<string>texSmoothManip</string>
		<string>texSmudgeUVManip</string>
		<string>textButtonManip</string>
		<string>textManip2D</string>
		<string>texture3dManip</string>
		<string>textureBakeSet</string>
		<string>textureToGeom</string>
		<string>time</string>
		<string>timeFunction</string>
		<string>timeToUnitConversion</string>
		<string>toggleManip</string>
		<string>toggleOnLineManip</string>
		<string>toolDrawManip</string>
		<string>toolDrawManip2D</string>
		<string>toonLineAttributes</string>
		<string>towPointOnCurveManip</string>
		<string>towPointOnSurfaceManip</string>
		<string>trans2dManip</string>
		<string>transUV2dManip</string>
		<string>transferAttributes</string>
		<string>transform</string>
		<string>transformGeometry</string>
		<string>translateLimitsManip</string>
		<string>translateManip</string>
		<string>translateUVManip</string>
		<string>trim</string>
		<string>trimManip</string>
		<string>trimWithBoundaries</string>
		<string>triplanarProjManip</string>
		<string>tripleShadingSwitch</string>
		<string>trsInsertManip</string>
		<string>trsManip</string>
		<string>turbulenceField</string>
		<string>turbulenceManip</string>
		<string>tweak</string>
		<string>uniformField</string>
		<string>unitConversion</string>
		<string>unitToTimeConversion</string>
		<string>unknown</string>
		<string>unknownDag</string>
		<string>unknownTransform</string>
		<string>untrim</string>
		<string>useBackground</string>
		<string>uv2dManip</string>
		<string>uvChooser</string>
		<string>vectorProduct</string>
		<string>vertexBakeSet</string>
		<string>viewColorManager</string>
		<string>volumeAxisField</string>
		<string>volumeBindManip</string>
		<string>volumeFog</string>
		<string>volumeLight</string>
		<string>volumeNoise</string>
		<string>volumeShader</string>
		<string>vortexField</string>
		<string>water</string>
		<string>weightGeometryFilter</string>
		<string>wire</string>
		<string>wood</string>
		<string>wrap</string>
		<string>writeToColorBuffer</string>
		<string>writeToDepthBuffer</string>
		<string>writeToLabelBuffer</string>
		<string>writeToVectorBuffer</string>
		<string>wtAddMatrix</string>
		<string>xformManip</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>mel</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>//</string>
		<key>Function Pattern</key>
		<string></string>
		<key>Identifier and Keyword Character Class</key>
		<string></string>
		<key>Skip Pattern</key>
		<string></string>
		<key>String Pattern</key>
		<string>"</string>
	</dict>
</dict>
</plist>
